In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

# Reload the original dataset
df = pd.read_csv('50_Startups.csv')

# Apply One-Hot Encoding to the 'State' column
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)
transformed_state = ohe.fit_transform(df[['State']])
transformed_state_df = pd.DataFrame(transformed_state, columns=ohe.get_feature_names_out(['State']), index=df.index)

# Concatenate the one-hot encoded columns and drop the original 'State' column
df = pd.concat([df, transformed_state_df], axis=1)
df = df.drop('State', axis=1)

print("DataFrame after re-loading and One-Hot Encoding:")
display(df.head())
print("Columns in DataFrame:", df.columns.tolist())

DataFrame after re-loading and One-Hot Encoding:

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

Columns in DataFrame: ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'State_Florida', 'State_New York']

In [ ]:
cols = df.columns[[0, 1, 2, 4, 5]]
df = df.loc[:, cols]

In [ ]:
df

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.20       136897.80        471784.10              0               1
1   162597.70       151377.59        443898.53              0               0
2   153441.51       101145.55        407934.54              1               0
3   144372.41       118671.85        383199.62              0               1
4   142107.34        91391.77        366168.42              1               0
5   131876.90        99814.71        362861.36              0               1
6   134615.46       147198.87        127716.82              0               0
7   130298.13       145530.06        323876.68              1               0
8   120542.52       148718.95        311613.29              0               1
9   123334.88       108679.17        304981.62              0               0
10  101913.08       110594.11        229160.95              1               0
11  100671.96        91790.61        249744.55              0               0
12   93863.75       127320.38        249839.44              1               0
13   91992.39       135495.07        252664.93              0               0
14  119943.24       156547.42        256512.92              1               0
15  114523.61       122616.84        261776.23              0               1
16   78013.11       121597.55        264346.06              0               0
17   94657.16       145077.58        282574.31              0               1
18   91749.16       114175.79        294919.57              1               0
19   86419.70       153514.11             0.00              0               1
20   76253.86       113867.30        298664.47              0               0
21   78389.47       153773.43        299737.29              0               1
22   73994.56       122782.75        303319.26              1               0
23   67532.53       105751.03        304768.73              1               0
24   77044.01        99281.34        140574.81              0               1
25   64664.71       139553.16        137962.62              0               0
26   75328.87       144135.98        134050.07              1               0
27   72107.60       127864.55        353183.81              0               1
28   66051.52       182645.56        118148.20              1               0
29   65605.48       153032.06        107138.38              0               1
30   61994.48       115641.28         91131.24              1               0
31   61136.38       152701.92         88218.23              0               1
32   63408.86       129219.61         46085.25              0               0
33   55493.95       103057.49        214634.81              1               0
34   46426.07       157693.92        210797.67              0               0
35   46014.02        85047.44        205517.64              0               1
36   28663.76       127056.21        201126.82              1               0
37   44069.95        51283.14        197029.42              0               0
38   20229.59        65947.93        185265.10              0               1
39   38558.51        82982.09        174999.30              0               0
40   28754.33       118546.05        172795.67              0               0
41   27892.92        84710.77        164470.71              1               0
42   23640.93        96189.63        148001.11              0               0
43   15505.73       127382.30         35534.17              0               1
44   22177.74       154806.14         28334.72              0               0
45    1000.23       124153.04          1903.93              0               1
46    1315.46       115816.21        297114.46              1               0
47       0.00       135426.92             0.00              0               0
48     542.05        51743.15             0.00              0               1
49       0.00       116983.80         45173.06              0               0

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State_Florida    50 non-null     int32
 4   State_New York   50 non-null     int32
dtypes: float64(3), int32(2)
memory usage: 1.7 KB

In [ ]:
df.isnull().mean()

R&D Spend          0.0
Administration     0.0
Marketing Spend    0.0
State_Florida      0.0
State_New York     0.0
dtype: float64

In [ ]:
def insert_nan_by_percentage(df, col_percent_map, random_state=2):
    df = df.copy()
    rng = np.random.default_rng(random_state)

    for col, pct in col_percent_map.items():
        # convert existing 0s to NaN
        df.loc[df[col] == 0, col] = np.nan

        n = len(df)
        n_nan = max(1, int(n * pct))  # ensure at least 1 NaN

        indices = rng.choice(df.index, size=n_nan, replace=False)
        df.loc[indices, col] = np.nan

    return df

In [ ]:
col_nan_percent = {
    'Administration': 0.04,  # 3%
    'Marketing Spend': 0.05,  # 5%
    'R&D Spend': 0.06
}

df1 = insert_nan_by_percentage(df, col_nan_percent)

In [ ]:
def insert_nan(df, col_percent_map, random_state=42):
    df = df.copy()
    rng = np.random.default_rng(random_state)

    for col, pct in col_percent_map.items():
        n = len(df)
        n_nan = int(n * pct)

        indices = rng.choice(df.index, size=n_nan, replace=False)
        df.loc[indices, col] = np.nan

    return df

In [ ]:
col_na = {
    'State_New York': 0.04,  # 3%
    'State_Florida': 0.05,  # 5%
}

df2 = insert_nan(df, col_na)

In [ ]:
df1.isnull().mean()

R&D Spend          0.10
Administration     0.04
Marketing Spend    0.10
State_Florida      0.00
State_New York     0.00
dtype: float64

In [ ]:
df1

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.20       136897.80        471784.10              0               1
1   162597.70       151377.59        443898.53              0               0
2   153441.51       101145.55        407934.54              1               0
3   144372.41       118671.85        383199.62              0               1
4         NaN        91391.77        366168.42              1               0
5   131876.90        99814.71        362861.36              0               1
6   134615.46       147198.87        127716.82              0               0
7   130298.13       145530.06        323876.68              1               0
8   120542.52       148718.95        311613.29              0               1
9   123334.88       108679.17        304981.62              0               0
10  101913.08       110594.11        229160.95              1               0
11  100671.96        91790.61        249744.55              0               0
12   93863.75       127320.38        249839.44              1               0
13   91992.39             NaN        252664.93              0               0
14  119943.24       156547.42              NaN              1               0
15  114523.61       122616.84        261776.23              0               1
16        NaN       121597.55        264346.06              0               0
17   94657.16       145077.58        282574.31              0               1
18   91749.16       114175.79        294919.57              1               0
19   86419.70       153514.11              NaN              0               1
20   76253.86       113867.30              NaN              0               0
21        NaN       153773.43        299737.29              0               1
22   73994.56       122782.75        303319.26              1               0
23   67532.53       105751.03        304768.73              1               0
24   77044.01        99281.34        140574.81              0               1
25   64664.71       139553.16        137962.62              0               0
26   75328.87       144135.98        134050.07              1               0
27   72107.60       127864.55        353183.81              0               1
28   66051.52       182645.56        118148.20              1               0
29   65605.48       153032.06        107138.38              0               1
30   61994.48       115641.28         91131.24              1               0
31   61136.38       152701.92         88218.23              0               1
32   63408.86       129219.61         46085.25              0               0
33   55493.95       103057.49        214634.81              1               0
34   46426.07       157693.92        210797.67              0               0
35   46014.02        85047.44        205517.64              0               1
36   28663.76       127056.21        201126.82              1               0
37   44069.95        51283.14        197029.42              0               0
38   20229.59        65947.93        185265.10              0               1
39   38558.51        82982.09        174999.30              0               0
40   28754.33       118546.05        172795.67              0               0
41   27892.92             NaN        164470.71              1               0
42   23640.93        96189.63        148001.11              0               0
43   15505.73       127382.30         35534.17              0               1
44   22177.74       154806.14         28334.72              0               0
45    1000.23       124153.04          1903.93              0               1
46    1315.46       115816.21        297114.46              1               0
47        NaN       135426.92              NaN              0               0
48     542.05        51743.15              NaN              0               1
49        NaN       116983.80         45173.06              0               0

In [ ]:
df2.isnull().mean()

R&D Spend          0.00
Administration     0.00
Marketing Spend    0.00
State_Florida      0.04
State_New York     0.04
dtype: float64

In [ ]:
df3 = df1.copy()

for col in df1.columns:
    mask = df2[col].isna()
    df3.loc[mask, col] = np.nan

In [ ]:
df3.isnull().mean()

R&D Spend          0.10
Administration     0.04
Marketing Spend    0.10
State_Florida      0.04
State_New York     0.04
dtype: float64

In [ ]:
df3 = df3.iloc[:, :-2]

In [ ]:
# Step 1 - Impute all missing values with mean of respective col

df0 = pd.DataFrame()

df0['R&D Spend'] = df3['R&D Spend'].fillna(df3['R&D Spend'].mean())
df0['Administration'] = df3['Administration'].fillna(df3['Administration'].mean())
df0['Marketing Spend'] = df3['Marketing Spend'].fillna(df3['Marketing Spend'].mean())
# 0th Iteration
df0

        R&D Spend  Administration  Marketing Spend
0   165349.200000   136897.800000    471784.100000
1   162597.700000   151377.590000    443898.530000
2   153441.510000   101145.550000    407934.540000
3   144372.410000   118671.850000    383199.620000
4    75279.352444    91391.770000    366168.420000
5   131876.900000    99814.710000    362861.360000
6   134615.460000   147198.870000    127716.820000
7   130298.130000   145530.060000    323876.680000
8   120542.520000   148718.950000    311613.290000
9   123334.880000   108679.170000    304981.620000
10  101913.080000   110594.110000    229160.950000
11  100671.960000    91790.610000    249744.550000
12   93863.750000   127320.380000    249839.440000
13   91992.390000   121813.044583    252664.930000
14  119943.240000   156547.420000    222135.055556
15  114523.610000   122616.840000    261776.230000
16   75279.352444   121597.550000    264346.060000
17   94657.160000   145077.580000    282574.310000
18   91749.160000   114175.790000    294919.570000
19   86419.700000   153514.110000    222135.055556
20   76253.860000   113867.300000    222135.055556
21   75279.352444   153773.430000    299737.290000
22   73994.560000   122782.750000    303319.260000
23   67532.530000   105751.030000    304768.730000
24   77044.010000    99281.340000    140574.810000
25   64664.710000   139553.160000    137962.620000
26   75328.870000   144135.980000    134050.070000
27   72107.600000   127864.550000    353183.810000
28   66051.520000   182645.560000    118148.200000
29   65605.480000   153032.060000    107138.380000
30   61994.480000   115641.280000     91131.240000
31   61136.380000   152701.920000     88218.230000
32   63408.860000   129219.610000     46085.250000
33   55493.950000   103057.490000    214634.810000
34   46426.070000   157693.920000    210797.670000
35   46014.020000    85047.440000    205517.640000
36   28663.760000   127056.210000    201126.820000
37   44069.950000    51283.140000    197029.420000
38   20229.590000    65947.930000    185265.100000
39   38558.510000    82982.090000    174999.300000
40   28754.330000   118546.050000    172795.670000
41   27892.920000   121813.044583    164470.710000
42   23640.930000    96189.630000    148001.110000
43   15505.730000   127382.300000     35534.170000
44   22177.740000   154806.140000     28334.720000
45    1000.230000   124153.040000      1903.930000
46    1315.460000   115816.210000    297114.460000
47   75279.352444   135426.920000    222135.055556
48     542.050000    51743.150000    222135.055556
49   75279.352444   116983.800000     45173.060000

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# ---------------------------------------------------------
# df3 : original data with NaNs in 5 columns
# df0 : same data, NaNs already filled with mean (initial guess)
# ---------------------------------------------------------

cols_to_impute = df3.columns.tolist()

# working copy
df_imp = df0.copy()

n_iter = 500   # number of full iterations

for it in range(n_iter):
    print(f"Iteration {it+1}/{n_iter}")

    for col in cols_to_impute:
        # mask based on ORIGINAL missing pattern
        missing_mask = df3[col].isna()
        if missing_mask.sum() == 0:
            continue

        observed_mask = ~missing_mask

        # use other columns as features
        other_cols = [c for c in cols_to_impute if c != col]

        X_train = df_imp.loc[observed_mask, other_cols]
        y_train = df3.loc[observed_mask, col]

        X_pred = df_imp.loc[missing_mask, other_cols]

        # Linear Regression model
        model = LinearRegression()
        model.fit(X_train, y_train)

        y_pred = model.predict(X_pred)

        # update imputed values
        df_imp.loc[missing_mask, col] = y_pred

# final result
df_final_linear = df_imp.copy()

Iteration 1/500
Iteration 2/500
Iteration 3/500
Iteration 4/500
Iteration 5/500
Iteration 6/500
Iteration 7/500
Iteration 8/500
Iteration 9/500
Iteration 10/500
Iteration 11/500
Iteration 12/500
Iteration 13/500
Iteration 14/500
Iteration 15/500
Iteration 16/500
Iteration 17/500
Iteration 18/500
Iteration 19/500
Iteration 20/500
Iteration 21/500
Iteration 22/500
Iteration 23/500
Iteration 24/500
Iteration 25/500
Iteration 26/500
Iteration 27/500
Iteration 28/500
Iteration 29/500
Iteration 30/500
Iteration 31/500
Iteration 32/500
Iteration 33/500
Iteration 34/500
Iteration 35/500
Iteration 36/500
Iteration 37/500
Iteration 38/500
Iteration 39/500
Iteration 40/500
Iteration 41/500
Iteration 42/500
Iteration 43/500
Iteration 44/500
Iteration 45/500
Iteration 46/500
Iteration 47/500
Iteration 48/500
Iteration 49/500
Iteration 50/500
Iteration 51/500
Iteration 52/500
Iteration 53/500
Iteration 54/500
Iteration 55/500
Iteration 56/500
Iteration 57/500
Iteration 58/500
Iteration 59/500
Iteration 60/500
Iteration 61/500
Iteration 62/500
Iteration 63/500
Iteration 64/500
Iteration 65/500
Iteration 66/500
Iteration 67/500
Iteration 68/500
Iteration 69/500
Iteration 70/500
Iteration 71/500
Iteration 72/500
Iteration 73/500
Iteration 74/500
Iteration 75/500
Iteration 76/500
Iteration 77/500
Iteration 78/500
Iteration 79/500
Iteration 80/500
Iteration 81/500
Iteration 82/500
Iteration 83/500
Iteration 84/500
Iteration 85/500
Iteration 86/500
Iteration 87/500
Iteration 88/500
Iteration 89/500
Iteration 90/500
Iteration 91/500
Iteration 92/500
Iteration 93/500
Iteration 94/500
Iteration 95/500
Iteration 96/500
Iteration 97/500
Iteration 98/500
Iteration 99/500
Iteration 100/500
Iteration 101/500
Iteration 102/500
Iteration 103/500
Iteration 104/500
Iteration 105/500
Iteration 106/500
Iteration 107/500
Iteration 108/500
Iteration 109/500
Iteration 110/500
Iteration 111/500
Iteration 112/500
Iteration 113/500
Iteration 114/500
Iteration 115/500
Iteration 116/500
Iteration 117/500
Iteration 118/500
Iteration 119/500
Iteration 120/500
Iteration 121/500
Iteration 122/500
Iteration 123/500
Iteration 124/500
Iteration 125/500
Iteration 126/500
Iteration 127/500
Iteration 128/500
Iteration 129/500
Iteration 130/500
Iteration 131/500
Iteration 132/500
Iteration 133/500
Iteration 134/500
Iteration 135/500
Iteration 136/500
Iteration 137/500
Iteration 138/500
Iteration 139/500
Iteration 140/500
Iteration 141/500
Iteration 142/500
Iteration 143/500
Iteration 144/500
Iteration 145/500
Iteration 146/500
Iteration 147/500
Iteration 148/500
Iteration 149/500
Iteration 150/500
Iteration 151/500
Iteration 152/500
Iteration 153/500
Iteration 154/500
Iteration 155/500
Iteration 156/500
Iteration 157/500
Iteration 158/500
Iteration 159/500
Iteration 160/500
Iteration 161/500
Iteration 162/500
Iteration 163/500
Iteration 164/500
Iteration 165/500
Iteration 166/500
Iteration 167/500
Iteration 168/500
Iteration 169/500
Iteration 170/500
Iteration 171/500
Iteration 172/500
Iteration 173/500
Iteration 174/500
Iteration 175/500
Iteration 176/500
Iteration 177/500
Iteration 178/500
Iteration 179/500
Iteration 180/500
Iteration 181/500
Iteration 182/500
Iteration 183/500
Iteration 184/500
Iteration 185/500
Iteration 186/500
Iteration 187/500
Iteration 188/500
Iteration 189/500
Iteration 190/500
Iteration 191/500
Iteration 192/500
Iteration 193/500
Iteration 194/500
Iteration 195/500
Iteration 196/500
Iteration 197/500
Iteration 198/500
Iteration 199/500
Iteration 200/500
Iteration 201/500
Iteration 202/500
Iteration 203/500
Iteration 204/500
Iteration 205/500
Iteration 206/500
Iteration 207/500
Iteration 208/500
Iteration 209/500
Iteration 210/500
Iteration 211/500
Iteration 212/500
Iteration 213/500
Iteration 214/500
Iteration 215/500
Iteration 216/500
Iteration 217/500
Iteration 218/500
Iteration 219/500
Iteration 220/500
Iteration 221/500
Iteration 222/500
Iteration 223/500
Iteration 224/500
Iteration 225/500
Iteration 226/500
Iteration 227/500
Iteration 228/500
Iteration 229/500
Iteration 230/500
Iteration 231/500
Iteration 232/500
Iteration 233/500
Iteration 234/500
Iteration 235/500
Iteration 236/500
Iteration 237/500
Iteration 238/500
Iteration 239/500
Iteration 240/500
Iteration 241/500
Iteration 242/500
Iteration 243/500
Iteration 244/500
Iteration 245/500
Iteration 246/500
Iteration 247/500
Iteration 248/500
Iteration 249/500
Iteration 250/500
Iteration 251/500
Iteration 252/500
Iteration 253/500
Iteration 254/500
Iteration 255/500
Iteration 256/500
Iteration 257/500
Iteration 258/500
Iteration 259/500
Iteration 260/500
Iteration 261/500
Iteration 262/500
Iteration 263/500
Iteration 264/500
Iteration 265/500
Iteration 266/500
Iteration 267/500
Iteration 268/500
Iteration 269/500
Iteration 270/500
Iteration 271/500
Iteration 272/500
Iteration 273/500
Iteration 274/500
Iteration 275/500
Iteration 276/500
Iteration 277/500
Iteration 278/500
Iteration 279/500
Iteration 280/500
Iteration 281/500
Iteration 282/500
Iteration 283/500
Iteration 284/500
Iteration 285/500
Iteration 286/500
Iteration 287/500
Iteration 288/500
Iteration 289/500
Iteration 290/500
Iteration 291/500
Iteration 292/500
Iteration 293/500
Iteration 294/500
Iteration 295/500
Iteration 296/500
Iteration 297/500
Iteration 298/500
Iteration 299/500
Iteration 300/500
Iteration 301/500
Iteration 302/500
Iteration 303/500
Iteration 304/500
Iteration 305/500
Iteration 306/500
Iteration 307/500
Iteration 308/500
Iteration 309/500
Iteration 310/500
Iteration 311/500
Iteration 312/500
Iteration 313/500
Iteration 314/500
Iteration 315/500
Iteration 316/500
Iteration 317/500
Iteration 318/500
Iteration 319/500
Iteration 320/500
Iteration 321/500
Iteration 322/500
Iteration 323/500
Iteration 324/500
Iteration 325/500
Iteration 326/500
Iteration 327/500
Iteration 328/500
Iteration 329/500
Iteration 330/500
Iteration 331/500
Iteration 332/500
Iteration 333/500
Iteration 334/500
Iteration 335/500
Iteration 336/500
Iteration 337/500
Iteration 338/500
Iteration 339/500
Iteration 340/500
Iteration 341/500
Iteration 342/500
Iteration 343/500
Iteration 344/500
Iteration 345/500
Iteration 346/500
Iteration 347/500
Iteration 348/500
Iteration 349/500
Iteration 350/500
Iteration 351/500
Iteration 352/500
Iteration 353/500
Iteration 354/500
Iteration 355/500
Iteration 356/500
Iteration 357/500
Iteration 358/500
Iteration 359/500
Iteration 360/500
Iteration 361/500
Iteration 362/500
Iteration 363/500
Iteration 364/500
Iteration 365/500
Iteration 366/500
Iteration 367/500
Iteration 368/500
Iteration 369/500
Iteration 370/500
Iteration 371/500
Iteration 372/500
Iteration 373/500
Iteration 374/500
Iteration 375/500
Iteration 376/500
Iteration 377/500
Iteration 378/500
Iteration 379/500
Iteration 380/500
Iteration 381/500
Iteration 382/500
Iteration 383/500
Iteration 384/500
Iteration 385/500
Iteration 386/500
Iteration 387/500
Iteration 388/500
Iteration 389/500
Iteration 390/500
Iteration 391/500
Iteration 392/500
Iteration 393/500
Iteration 394/500
Iteration 395/500
Iteration 396/500
Iteration 397/500
Iteration 398/500
Iteration 399/500
Iteration 400/500
Iteration 401/500
Iteration 402/500
Iteration 403/500
Iteration 404/500
Iteration 405/500
Iteration 406/500
Iteration 407/500
Iteration 408/500
Iteration 409/500
Iteration 410/500
Iteration 411/500
Iteration 412/500
Iteration 413/500
Iteration 414/500
Iteration 415/500
Iteration 416/500
Iteration 417/500
Iteration 418/500
Iteration 419/500
Iteration 420/500
Iteration 421/500
Iteration 422/500
Iteration 423/500
Iteration 424/500
Iteration 425/500
Iteration 426/500
Iteration 427/500
Iteration 428/500
Iteration 429/500
Iteration 430/500
Iteration 431/500
Iteration 432/500
Iteration 433/500
Iteration 434/500
Iteration 435/500
Iteration 436/500
Iteration 437/500
Iteration 438/500
Iteration 439/500
Iteration 440/500
Iteration 441/500
Iteration 442/500
Iteration 443/500
Iteration 444/500
Iteration 445/500
Iteration 446/500
Iteration 447/500
Iteration 448/500
Iteration 449/500
Iteration 450/500
Iteration 451/500
Iteration 452/500
Iteration 453/500
Iteration 454/500
Iteration 455/500
Iteration 456/500
Iteration 457/500
Iteration 458/500
Iteration 459/500
Iteration 460/500
Iteration 461/500
Iteration 462/500
Iteration 463/500
Iteration 464/500
Iteration 465/500
Iteration 466/500
Iteration 467/500
Iteration 468/500
Iteration 469/500
Iteration 470/500
Iteration 471/500
Iteration 472/500
Iteration 473/500
Iteration 474/500
Iteration 475/500
Iteration 476/500
Iteration 477/500
Iteration 478/500
Iteration 479/500
Iteration 480/500
Iteration 481/500
Iteration 482/500
Iteration 483/500
Iteration 484/500
Iteration 485/500
Iteration 486/500
Iteration 487/500
Iteration 488/500
Iteration 489/500
Iteration 490/500
Iteration 491/500
Iteration 492/500
Iteration 493/500
Iteration 494/500
Iteration 495/500
Iteration 496/500
Iteration 497/500
Iteration 498/500
Iteration 499/500
Iteration 500/500

In [ ]:
df_imp = df_imp.reset_index(drop=True)
df3    = df3.reset_index(drop=True)
df     = df.reset_index(drop=True)

In [ ]:
common_cols = [
    "R&D Spend",
    "Administration",
    "Marketing Spend"
]

equal_mask = (
    df_imp[common_cols].eq(df3[common_cols]) &
    df_imp[common_cols].eq(df[common_cols])
)

In [ ]:
all_equal_rows = equal_mask.all(axis=1)

In [ ]:
mismatch_rows = ~all_equal_rows

In [ ]:
diff = pd.concat(
    {
        "df_imp": df_imp.loc[mismatch_rows, common_cols],
        "df":     df.loc[mismatch_rows, common_cols],
    },
    axis=1
)

In [ ]:
diff

           df_imp                                        df                 \
        R&D Spend Administration Marketing Spend  R&D Spend Administration
4   102377.028524   91391.770000   366168.420000  142107.34       91391.77
13   91992.390000  124309.042316   252664.930000   91992.39      135495.07
14  119943.240000  156547.420000   271181.029348  119943.24      156547.42
16   88466.513931  121597.550000   264346.060000   78013.11      121597.55
19   86419.700000  153514.110000   206583.605249   86419.70      153514.11
20   76253.860000  113867.300000   230708.744614   76253.86      113867.30
21  115509.862231  153773.430000   299737.290000   78389.47      153773.43
41   27892.920000  108521.137017   164470.710000   27892.92       84710.77
47   82454.829405  135426.920000   218954.973472       0.00      135426.92
48     542.050000   51743.150000   147208.863351     542.05       51743.15
49   22287.010598  116983.800000    45173.060000       0.00      116983.80


   Marketing Spend
4        366168.42
13       252664.93
14       256512.92
16       264346.06
19            0.00
20       298664.47
21       299737.29
41       164470.71
47            0.00
48            0.00
49        45173.06